<head>
  <title>TVGuide</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
      <img src="logo1.png" width="200" height="90" alt=""/> 
  </div>
</nav>
{{> show_desc}}

</body>

<template name="hello">

  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
  pp
  pp
  pp
  p
  p
  p
  p
  p
  p
  p
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
  pp
  pp
  pp
  p
  p
  p
  p
  p
  p
  p
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
  pp
  pp
  pp
  p
  p
  p
  p
  p
  p
  p
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
  pp
  pp
  pp
  p
  p
  p
  p
  p
  p
  p
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
  pp
  pp
  pp
  p
  p
  p
  p
  p
  p
  p
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
  pp
  pp
  pp
  p
  p
  p
  p
  p
  p
  p
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
  pp
  pp
  pp
  p
  p
  p
  p
  p
  p
  p
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
  pp
  pp
  pp
  p
  p
  p
  p
  p
  p
  p
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
  pp
  pp
  pp
  p
  p
  p
  p
  p
  p
  p
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
  pp
  pp
  pp
  p
  p
  p
  p
  p
  p
  p
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
  pp
  pp
  pp
  p
  p
  p
  p
  p
  p
  p
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
  pp
  pp
  pp
  p
  p
  p
  p
  p
  p
  p
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
  pp
  pp
  pp
  p
  p
  p
  p
  p
  p
  p
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
  pp
  pp
  pp
  p
  p
  p
  p
  p
  p
  p
  <button>Click Me</button>
  <p>You've pressed the button {{counter}} times.</p>
  pp
  pp
  pp
  p
  p
  p
  p
  p
  p
  p
  
</template>
