<template name="show_desc">
 <div class="container">
	<div class="row">
		<div class="col-xs-6  col-sm-6 col-md-3">
			<a href="#" class="thumbnail">
				<img src="showDisplay.jpg" alt="TVShow_Display">				
			</a>			
		</div>  
		
		<div class="col-xs-6  col-sm-6 col-md-9 descArea thumbnail"><!--This is considered as a row tag for side column-->
			<div class="row ">
				<div class="col-md-12 mainHeading">The Fosters</div>
			</div>
			<div class="row">
				<div class="col-md-12">
				Stef Foster and Lena Adams, a lesbian couple, have a family of adopted, biological, and foster children. Mariana and Jesus are adopted 15 year old twins and Brandon is Stef's 16 year old biological son from a previous marriage. Everything is going normal in the house. Until Callie and Jude arrive. 16 year old Callie Jacob and her 12 year old brother, Jude, have been to many different foster homes. But when they get placed with the Fosters, things begin to happen. In this series, the Foster's will deal with many different issues including, hook ups, break ups, romances, and important life lessons.
				</div>
			</div>		
			<div class="row">
				<div class="col-md-12 subHeading">Creators </div>
				<div class="col-md-12">Peter Paige,Brad Bredeweg</div>
			</div>
			<div class="row ">
				<div class="col-md-12 subHeading">Details</div>
			</div>
			<div class="row">
				<div class="col-md-2">Official Site  </div>
				<div class="col-md-6 ">Seasons </div>
			</div>
			<div class="row">
				<div class="col-md-2">Country</div>				
				<div class="col-md-6 ">USA</div>
			</div>
			<div class="row">
				<div class="col-md-2">Language</div>				
				<div class="col-md-6 ">English</div>
			</div>
			<div class="row">
				<div class="col-md-2">Release Date</div>				
				<div class="col-md-6 ">3 June 2013 (USA) </div>
			</div>
		</div>
	</div>
</div>
</template>