<template name="show_desc">
{{showDescription}}
 <div class="container">
	<div class="row">
		<div class="col-xs-6  col-sm-6 col-md-3">
			<a href="#" class="thumbnail" >
			<img src="{{sPic}}" alt="TVShow_Display" width="340" height="500">				
			</a>			
		</div>  		
		<div class="col-xs-6  col-sm-6 col-md-9 descArea thumbnail"><!--This is considered as a row tag for side column-->
			<div class="row ">
				<div class="buttonP" style="display:none">Press</div>
				<div class="col-md-12 mainHeading">{{sName}}</div>
			</div>
			<div class="row">
				<div class="col-md-12">{{sDesc}}</div>
			</div>		
			<div class="row">
				<div class="col-md-12 subHeading">Creators </div>
				<div class="col-md-12">{{sCreator}}</div>
			</div>
			{{showDetails}}
			<div class="row ">
				<div class="col-md-12 subHeading">Details</div>
			</div>
			<div class="row">
				<a href="{{sWebsite}}" class="col-md-12" target="_blank">Official Website</a>
			</div>
			<div class="row">
				<div class="col-md-2">Country</div>				
				<div class="col-md-6 ">{{sCountry}}</div>
			</div>
			<div class="row">
				<div class="col-md-2">Language</div>				
				<div class="col-md-6 ">{{sLang}}</div>
			</div>
			<div class="row">
				<div class="col-md-2">Release Date</div>				
				<div class="col-md-6 ">{{sDate}}</div>
			</div>
		</div>
	</div>
</div>
</template>